<%= flash[:notice] %>
<table>
  <thead>
    <tr>
      <th>Detail Kind</th>
      <th>Detail Name</th>
    </tr>
  </thead>
  <tbody>
    <% @details.each do |detail| %>
      <tr>
        <td><%= detail.kind %></td>
        <td><%= detail.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
<h4>Import data</h4>
  <%= form_tag import_details_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
